// Colors
whiteColor = #fff
blackColor = #000
darkOrange = #E8594E
darkColor = #1C2E3D
neptuneColor = #73AFBA
featuredLeftColor = #3C4A51
lightGreyColor = #788692

// Font weight
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
heavy = 800

// Device size
// height
bp-h-small = 320
bp-h-medium = 840
bp-h-big = 975
bp-h-large = 1480
// width
bp-w-small = 320
bp-w-medium = 840
bp-w-big = 975
bp-w-large = 1480

// Fonts
font('HelveticaNeue-Bold', 'HelveticaNeue-Bold', 'woff', bold)
font('PlayfairDisplay-Regular', 'PlayfairDisplay-Regular', 'woff', regular)
font('SFCompactText-Light', 'SFCompactText-Light', 'woff', light)
font('SFCompactText-Regular', 'SFCompactText-Regular', 'woff', regular)
font('SFProDisplay-Bold', 'SFProDisplay-Bold', 'woff', bold)
font('SFProDisplay-Heavy', 'SFProDisplay-Heavy', 'woff', heavy)
font('SFProDisplay-Medium', 'SFProDisplay-Medium', 'woff', medium)
font('SFProText-Regular', 'SFProText-Regular', 'woff', regular)
defaultFont = 'SFProDisplay-Medium'
