// Global
.container
  max-width 1520px
  padding 0px 30px
  margin 0 auto

.site-container
  overflow hidden

.flex
  display flex

.btn-reset
  display block
  border none
  outline none
  background-color transparent
  cursor pointer
  padding 0

.btn
  font-size 16px
  line-height 14px
  letter-spacing 2.18182px
  color whiteColor
  padding 30px 80px
  text-transform uppercase
  border-radius 8px

.feature-btn
  border-radius 24px
  font-size 14px
  line-height 13px
  text-align center
  letter-spacing 2px
  color whiteColor
  padding 18px 30px
  margin-bottom 16px
  text-transform uppercase
  mix-blend-mode normal

.section-title
  font-size 64px
  line-height 80px
  color darkColor

  &--center
    text-align center
    max-width none

.slider__container
  width 100%
  padding 100px 0
  margin-top 40px

// Header
.header
  position absolute
  width 100%
  top 0
  left 0
  z-index 1000

  &__container
    justify-content space-between
    padding 55px 30px
    align-items center

    +h(bp-h-big)
      padding 40px 30px

    +h(bp-h-medium)
      padding 30px

.social
  display flex
  align-items center

  &__item
    &:not(:last-child)
      margin-right 40px

  &__link
    display block

    &--fb
      width 11px
      height 20px
      coverbg('svg/facebook.svg')

    &--tw
      width 20px
      height 16px
      coverbg('svg/twitter.svg')

.logo
  text-transform uppercase
  font-weight 800
  font-size 22px
  line-height 1
  text-align center
  letter-spacing 2px
  color whiteColor

.burger
  width 48px
  height 10px
  position relative

  &__line
    width 100%
    height 2px
    background-color whiteColor
    position absolute
    top 0
    left 0

    &:last-child
      top auto
      bottom 0

// Hero
.hero
  height 100vh
  min-height 660px
  padding-top 200px
  coverbg('img/hero.png')

  +h(bp-h-big)
    padding-top 150px

  +h(bp-h-medium)
    padding-top 100px

  &__container
    position relative
    height 100%
    padding-bottom 200px

  &__new-book
    border 1px solid whiteColor
    background-color rgba(darkColor, 40%)

    +h(bp-h-big)
      padding 15px 25px

  &__title
    max-width 35%
    margin-top 50px
    font-size 80px
    line-height 84px
    color whiteColor

    +h(bp-h-big)
      margin-top 45px
      font-size 70px
      line-height 70px

    +h(bp-h-medium)
      margin-top 70px
      font-size 60px
      line-height 60px

    +w(bp-w-large)
      max-width 70%

  &__text
    font-family SFCompactText-Regular
    font-size 15px
    line-height 16px
    color whiteColor
    max-width 30%
    margin-top 45px

    +h(bp-h-big)
      margin-top 35px

    +w(bp-w-large)
      max-width 50%

  &__buy-btn
    background darkOrange
    margin-top 45px

    +h(bp-h-big)
      padding 25px 60px

    +h(bp-h-medium)
      padding 20px 50px

    &:active
      background darken(darkOrange, 10%)

  &__bottom
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
    width calc(100% - 60px)
    display flex
    align-items flex-end

.search-form
  width calc(100% - 500px)
  position relative
  border-radius 4px 0 0 0
  overflow hidden
  height 120px

  +h(bp-h-big)
    height 100px

  +h(bp-h-medium)
    height 80px

  &__field
    background-color #ffffff
    padding 50px 90px 50px 50px
    width 100%
    height 100%
    box-shadow inset 0px -2px 0px rgba(223, 223, 223, .5)
    font-size 16px
    line-height 19px
    color darkColor

  &__button
    coverbg('svg/search.svg')
    size(18px)
    position absolute
    right 60px
    bottom 50%
    transform translateY(50%)

.main-slider
  box-shadow 0px 4px 4px rgba(0, 0, 0, .25)
  border-radius 8px 8px 0px 0px
  line-height 1
  position absolute
  right 0

  &__text
    height 120px
    display flex
    align-items center
    justify-content center
    background-color neptuneColor
    color whiteColor
    font-size 12px
    line-height 1
    text-align center
    letter-spacing 2.18px
    text-transform uppercase

    +h(bp-h-big)
      height 100px

    +h(bp-h-medium)
      height 80px

// Become
.become
  padding 120px 0
  background-color #fff
  position relative

  &__title
    max-width 45%
    margin-bottom 80px

  &__list
    display grid
    grid-template-columns repeat(auto-fit, minmax(350px, 1fr))
    grid-gap 10px

  &__item
    position relative
    margin 0 auto
    max-width 350px
    border-radius 10px
    overflow hidden

    &:hover
      &:before
        opacity .9
        visibility visible

      .become__text
        opacity 1
        visibility visible
        transform translate(0)

    &:before
      content ''
      transition opacity .3s ease
      background neptuneColor
      mix-blend-mode normal
      opacity 0
      visibility hidden
      border-radius 4px
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      z-index 100

  &__image
    width 100%
    max-height 100%
    object-fit cover

  &__text
    position absolute
    z-index 100
    left 40px
    bottom 60px
    font-size 24px
    line-height 31px
    color whiteColor
    transform translateY(200px)
    transition transform .3s ease-in-out

.featured
  position relative
  padding 100px 0
  height 900px
  coverbg('img/storiesBG.png')

  &__container
    height 100%
    display flex
    flex-direction column
    justify-content flex-end

  &__stories
    padding 100px
    background-color featuredLeftColor
    mix-blend-mode normal
    opacity .94
    width 35%
    height 100%
    position absolute
    right 0
    top 0

  &__title
    font-size 64px
    line-height 80px
    color #FFFFFF
    margin-bottom 60px

.blog-arcticle
  &__category
    background darkOrange

  &__title
    font-size 48px
    line-height 64px
    color whiteColor
    margin-bottom 16px

  &__text
    font-size 14px
    line-height 21px
    color whiteColor
    margin-bottom 40px
    max-width 40%

  &__btn
    margin-top 45px
    background-color neptuneColor

    &:active
      background-color darken(neptuneColor, 10%)

.feature-list
  display flex
  flex-flow column nowrap

  &__item
    border-bottom 1px solid #4d5a5f

    &:last-child
      border-bottom 1px solid transparent

  &__article
    display flex
    align-items center
    padding 30px 0

  &__image
    border-radius 100%
    flex-shrink 0
    width 48px
    height 48px
    overflow hidden
    margin-right 32px

    img
      width 100%
      height 100%
      object-fit cover

  &__info
    display flex
    flex-flow column nowrap
    align-self flex-start

  &__text
    color #fff
    font-size 18px
    line-height 24px
    margin-bottom 8px

  &__date
    font-family SFProText-Regular
    font-size 11px
    line-height 13px
    color rgba(255, 255, 255, .502293)

.videos
  padding-top 100px
  padding-bottom 95px

  &__desc
    margin-top 18px
    display block
    margin 0 auto
    text-align center
    max-width 40%
    font-family SFProText-Regular
    font-size 16px
    line-height 24px
    text-align center
    color lightGreyColor

// Swiper
.swiper-slide
  background #E3E3E3
  box-shadow 0px 4px 4px rgba(0, 0, 0, .25)
  border-radius 8px
  min-height 550px
  transition transform .3s ease
  width 890px
  position relative
  padding 40px
  display flex
  flex-direction column
  justify-content space-between

  &:before
    content ''
    background linear-gradient(180deg, rgba(0, 0, 0, .0001) 50%, rgba(0, 0, 0, .461617) 100%)
    border-radius 8px
    position absolute
    top 0
    left 0
    width 100%
    height 100%

  &-active
    transition transform .3s ease
    transform scaleX(1.17) scaleY(1.1)

  .swiper-text
    font-size 32px
    line-height 40px
    color #fff
    position relative
    z-index 100

.slide-1
  coverbg('img/videos2.png')

.swiper-play
  width 80px
  height 80px
  border-radius 50%
  background-color darkOrange
  position relative
  cursor pointer

  &:before
    content ''
    position absolute
    top 50%
    left 55%
    transform translate(-35%, -50%)
    css-triangle(15px, #fff, right)

// Newsletter section
.newsletter
  padding-top 90px
  padding-bottom 150px
  position relative

  &__content
    max-height 800px
    coverbg('img/newsletterBG.png')
    padding 180px 130px
    display flex
    border-radius 10px
    position relative

    &:before
      content ''
      coverdiv()
      background rgba(28, 46, 61, .46)

  &__info, &__signup
    position relative
    z-index 100

  &__info
    width 40%

  &__title
    color #fff

  &__text
    margin-top 40px
    font-family SFCompactText-Regular
    font-size 16px
    line-height 21px
    color #FFFFFF

.signup-form
  width 35%
  background #fff
  border-radius 8px
  overflow hidden
  position absolute
  bottom -90px
  right 130px

  &__contaner
    padding 75px 70px

  &__group
    width 100%

    &:not(:last-child)
      margin-bottom 32px

  &__label
    font-size 11px
    line-height 13px
    letter-spacing 2px
    color darkColor
    display flex
    flex-flow column nowrap

  &__input
    padding 10px 0
    border-bottom 1px solid #bbc0c5

  &__submit-btn
    background-color neptuneColor
    width 100%
    height 90px
    text-transform uppercase
    font-size 12px
    line-height 14px
    text-align center
    letter-spacing 2.18182px
    color #FFFFFF

// Inspirations section
.inspirations
  padding 80px 0

  &__text
    margin-top 40px
    font-family SFCompactText-Regular
    font-size 16px
    line-height 24px
    color lightGreyColor
    width 40%
    margin 0 auto
    text-align center

  &__list
    margin-top 30px

  &__info
    position relative
    z-index 100
    color #fff

  &__item
    border-radius 8px
    padding 40px
    position relative
    overflow hidden
    display flex
    align-items flex-end

    &:before
      content ''
      coverdiv()
      background linear-gradient(180deg, rgba(0, 0, 0, .0001) 50%, rgba(0, 0, 0, .461617) 100%)

  &__category
    font-size 10px
    line-height 12px
    letter-spacing 1.1px
    text-transform uppercase
    color #fff
    margin-bottom 101px

  &__title
    font-size 28px
    line-height 40px
    color #fff
    margin-bottom 10px

  &__peoples
    display flex

  &__people
    border-radius 50%
    width 48px
    height 48px
    border 3px solid #fff

    &:not(:last-child)
      margin-right 10px

  &__feature
    position absolute
    right 40px
    top 40px
    border 1px solid #fff
    background rgba(#090E0C, .4)

  &__play-btn
    width 50px
    height 50px
    border-radius 50%
    border 2px solid #fff
    position absolute
    top 40px
    left 40px
    cursor pointer

    &:before
      content ''
      position absolute
      top 50%
      left 55%
      transform translate(-35%, -50%)
      css-triangle(10px, #fff, right)

.grid
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-auto-rows minmax(300px, auto)
  grid-gap 32px

  .item-tall
    grid-column span 2 / auto

  .item-height
    grid-row span 2 / auto

// Footer section
.footer
  &__conteiner
    padding-top 50px
    padding-bottom 100px
    display flex
    justify-content space-between

  &__column
    display flex
    flex-direction column

  &__title
    font-family HelveticaNeue-Bold
    font-size 12px
    line-height 14px
    letter-spacing 2.15px
    text-transform uppercase
    color #100E0B

  &__line
    background #57A773
    width 48px
    height 1px
    display block
    margin 20px 0

  &__list
    display flex
    flex-direction column

  &__item
    &:not(:last-child)
      margin-bottom 10px

  &__link
    font-size 13px
    line-height 29px
    color #959EA6

  &__bottom
    padding 32px 0
    border-top 1px solid #D9D9D9

    &__container
      display flex
      justify-content space-between
      align-items center

  &__info
    display flex
    flex-direction column

  &__tems
    margin-bottom 10px

  &__tems, &__privacy, &__copyright
    font-family SFProText-Regular
    font-size 13px
    line-height 15px
    color #959EA6

.subscribe-form
  display flex
  flex-direction column
  width 360px

  &__input
    margin-bottom 16px
    background #FFFFFF
    border 1px solid #E4E4E4
    border-radius 8px
    padding 23px 30px

  &__button
    border-radius 8px
    padding 25px 0
    text-transform uppercase
    background-color neptuneColor
    color #fff
